/* normal display  */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    width: 98%;
}



/* navbar start */
img {
    vertical-align: middle;
    border-style: none;
    margin-left: -30px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-right: 15px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 50px;
    width: 20%;
    text-align: center;
}

.navbar-collapse {
    margin-left: 250px;
    margin-left: 0;
    text-align: center;
    width: 60%;
}

.nav-link {
    margin: 0 36px auto;
    font-size: 20px;
}

.navbar-carticon {
    width: 20%;
    text-align: center;
}

a.nav-item.nav-link {
    text-align: center;
}
/* navbar ends  */

/* intro page  */
h2.title {
    color: brown;
    font-size: 80px;
    font-family: auto;
    text-align: center;
}

p.subtitle {
    text-align: center;
    text-transform: capitalize;
    color: black;
    font-size: 25px;
}

.btn-primary {
    background-color: peru;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    margin-top: 20px;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
}
/* intro ends  */

/* Title */
.section-title {
    text-align: center;
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 30px;
  }
  
  .section-title h4 {
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
  .section-title div {
    width: 5rem;
    height: 5px;
    margin: 0 auto;
    background: var(--primaryColor);
  }
  /* end of Title */

/* services */
.services {
    padding: 5rem 0;
  }
  
  .services {
    /* background: var(--darkGrey); */
    text-align: center;
  }
  
  .services-center {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 20px;
    font-size: 15px;
    text-align: center;
  }
  
  .service span {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .services h6 {
    letter-spacing: var(--mainSpacing);
  }
  
  .services p {
    width: 80%;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 992px) {
    .services-center {
        width: 95vw;
        max-width: 1170px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .services p {
        width: 100%;
    }
  }
  /*end of services */

  /* story begins  */
.story-icon {
    font-size: 60px;
    margin-top: 20px;
    color: burlywood;
    margin-bottom: 50px;
}

.story-desc {
    font-size: 25px;
    font-family: initial;
    font-style: italic;
    text-transform: none;
}

.story-name {
    font-size: 15px;
    font-family: initial;
    font-style: italic;
    margin-top: 30px;
}

.story-image {
    vertical-align: middle;
    border-style: none;
  }

@media screen and (max-width: 480px) {
    .story-image {
        width: 100%;
    }

    .row.story {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
    }
}
/* story ends */

/* menu starts  */
.menu.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.menuinfo.col-md-9 {
    padding: 0px;
    background-color: lightslategray;
}

.menuinfo-line-top {
    border-top: 1px solid cornsilk;
    margin: 60px;
    margin-bottom: -10px;
}

.menuinfo-line-bottom {
    border-top: 1px solid cornsilk;
    margin: 60px;
    margin-top: 15px;
}

li.listdetails {
    width: 100%;
}

a.filter-list {
    width: 25%;
}

.menuimage.col-md-3 {
    padding: 0px;
}

img.imagedisplay {
    height: 100%;
    width: 100%;
    margin-left: 0px;
}

img {
    vertical-align: middle;
    border-style: none;
}

@media screen and (max-width: 480px) {
    ul.typelist {
        justify-content: center;
        display: grid;
    }
    li.listdetails {
        text-align: center;
        margin-right: 0px;
    }

    ul.typelist {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li.listdetails {
        display: block;
    }

    img.imagedisplay {
        margin-right: 0px;
        margin-left: 0px;
    }
}

/* end menu  */

/* contact starts  */
.row.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 533px;
}

.video {
    background-image: url(./images/videoimage.jpg);
    height: 450px;
}
a.contact-icon {
    font-size: 55px;
}

h4.contact-title {
    font-size: 25px;
    color: burlywood;
    margin-top: 100px
}

h2.contact-banner-title {
    margin-top: 30px;
    font-size: 40px;
    color: floralwhite;
}

.contact-details {
    background-color: lightgrey;
}

h4.detail-subtitle {
    margin-top: 35px;
    color: antiquewhite;
}

h2.detail-title {
    color: white;
    font-family: -webkit-body;
    font-style: italic;
}

h3.detail-icon {
    color: azure;
    font-size: 35px;
}

p.detail-desc {
    font-style: italic;
    margin-bottom: 15px;
    font-weight: bold;
    color: white;
}

.row.detail-form {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

button.detail-btn {
    border-radius: 15px;
    background-color: antiquewhite;
    border-color: floralwhite;
}

.col-md-6.contact-details {
    margin-top: 0px;
}

.youtube {
    width: 681px;
    height: 50%;
    position: relative;
    width: 50%;
    margin-left: 390px;
    margin-right: 0;
    margin-top: 150px;
}

.col-md-6.video {
    height: 100%;
}

.contact-details {
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 533px;
}


@media screen and (max-width: 480px) {
    .row.contact {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
        height: 1050px;
    }
    .col-md-6.contact-details {
        margin-top: -25px;
    }

    .col-md-6.video {
        height: auto;
    }
}
/* contact ends  */


/* info starts  */

.row.info {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: 300px;
}
.row.info {
    margin: auto;
    background-color: darkgray;
    width: 100%;
    text-align: center;
}

form.ps-form--footer-subscribe {
    margin-top: 60px;
    text-align: left;
    margin-left: 35px;
}

h3.email-title {
    color: black;
    font-size: 20px;
}

p.email-desc {
    margin-top: 20px;
    font-style: italic;
    margin-bottom: 20px;
    font-family: initial;
}

p.logo-desc {
    margin-top: 10px;
}

.time {
    margin-top: 60px;
    text-align: left;
    float: right;
    margin-right: 40px;
}

h3.time-title {
    margin-bottom: 25px;
}

p.time-desc {
    font-weight: 900;
}

.time-card {
    display: flex;
    margin-left: -38px;
}

li {
    display: flex;
    margin-right: 30px;
    font-size: 35px;
    margin-top: 25px;
}

@media screen and (max-width: 480px) {
    .row.info {
        height: 930px;
    }

    form.ps-form--footer-subscribe {
        text-align: center;
        margin-left: 0px;
    }

    .time {
        text-align: center;
    }

    .time-card {
        margin-left: 0px;
    }

    .li {
        text-align: center;
    }

    .time {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        justify-content: center;
        float: none;
    }

    p.time-desc {
        font-weight: 900;
        display: grid;
        margin-bottom: 20px;
    }
}
/* info ends  */

/* footer starts  */
.footer {
    padding: 0px;
    background-color: floralwhite;
}
p.ft-info {
    margin-bottom: 20px;
}

a.ft-social {
    margin-left: 30px;
    font-size: 25px;
}

@media screen and (max-width: 480px) {
    p.ft-info {
        margin-left: 25px;
    }
}
/* footer ends  */

/* about page starts  */
div#navbarNavAltMarkup {
    margin-left: 0;
}
.services.about {
    background-color: aliceblue;
    margin-top: 90px;
}

.about-top {
    display: inline-flex;
}

h4.about-title {
    color: burlywood;
    margin-left: 0px;
    font-size: 30px;
}

a.abouttitle:hover {
    color: red;
    text-transform: none;
    text-decoration: none;
}

h6.about-banner {
    font-size: 24px;
    margin-top: 6px;
    margin-left: 5px;
}

.about-text {
    font-size: 75px;
}

.about-landing-right{
    /* background-image: url(./images/landing-about.png); */
    height: 500px;
    /* background-repeat: no-repeat; */
}

.landing-image {
    margin-top: 60px;
}

.about-landing.row {
    margin-left: 0px;
    margin-right: 0px;
    height: 650px;
}

h5.landing-subtitle {
    margin-top: 120px;
    color: burlywood;
    text-transform: uppercase;
    font-size: 18px;
}

h1.landing-title {
    text-transform: uppercase;
    font-family: none;
    margin-top: 15px;
    font-weight: lighter;
}

span.landing-icon {
    font-size: 30px;
}

p.landing-info {
    margin-top: 50px;
    font-style: italic;
}

h5.landing-signature {
    margin-top: 40px;
    font-size: 20px;
    font-family: none;
    color: burlywood;
}

.landing-story-main {
    padding-top: 80px;
}

.landing-story {
    background-color: papayawhip;
}
.landing-story-display.row {
    margin-top: 60px;
}

.col-md-6.display-right {
    text-align: left;
    margin-top: 50px;
}

h3.display-name {
    font-family: initial;
    margin-bottom: 10px;
}

h4.display-role {
    color: burlywood;
    font-size: 20px;
    margin-bottom: 50px;
}

p.display-info {
    font-size: 20px;
    font-style: italic;
    font-family: inherit;
    margin-bottom: 70px;
}

img.display-image {
    margin-right: 75px;
}

@media screen and (max-width: 480px) {
    img.landing-image {
        height: 140px;
    }

    .landing-story-display.row {
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    img.left-image {
        height: 400px;
    }

    .col-md-6.display-right {
        text-align: center;
        margin-top: 50px;
    }

    .display-img {
        margin-left: 25px;
        margin-bottom: 20px;
    }

    img.display-image {
        margin-right: 30px;
        height: 86px;
    }
}
/* about page ends  */

/* contac starts  */
.landing-story-display.row {
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.landing-story-contact {
    height: 525px;
    background-color: mintcream;
}

@media screen and (max-width: 480px) {
    .landing-story-contact {
        height: 650px;
    }
}
/* contact ends  */

/* product statrs  */
.product {
    margin-top: 90px;
    background-color: aliceblue;
}


.product-display.row {
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}
/* product ends */

/* product filter  */
ul.filter-section {
    text-align: left;
    margin-left: 40px;
}

h3.filter-title {
    text-transform: uppercase;
    font-family: initial;
    font-weight: bold;
    font-size: 20px;
}


.filter-list {
    color: black;
    background-color: transparent;
    font-size: 23px;
    text-decoration: none;
}

.filter-list:hover {
    color: bisque;
    text-decoration: none;
}

.filter-line {
    border: 1px dashed coral;
}

.filter-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 12px;
    margin-top: 30px;
}

@media screen and (max-width: 480px) {
    ul.filter-section {
        text-align: center;
        padding: 0;
        margin-left: 0;
    }

    li {
        width: 100%;
    }


}

/* product filter ends  */

/* product displays  */
.bakelist {
    padding: 5rem 0;
}

.bakelist-center {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 67px;
}

img.list-image {
    height: 160px;
}

p.list-title {
    font-size: 28px;
    font-family: none;
    color: black;
}

h3.list-recipe {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 15px;
}

h6.list-price {
    color: darksalmon;
    font-size: 20px;
    font-weight: 800;
}

.list-addedtocart {
    display: none;
    transition: ease-in-out;
}

/* product display ends  */

/* product details starts  */
.col-md-7.details {
    text-align: left;
}

h1.details-title {
    text-transform: inherit;
    color: black;
    font-size: 45px;
    margin-bottom: 20px;
}

h4.details-price {
    color: burlywood;
    font-size: 20px;
    margin-bottom: 20px;
}

.details-info {
    font-family: unset;
    margin-bottom: 20px;
}

p.details-avai, p.details-category{
    font-size: 15px;
    margin-bottom: 20px;
}

img.review-image {
    margin-left: 20px;
}

.details-button {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.button-first {
    margin: 0;
    padding: 0;
    background-color: #004882;
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 175px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 12px;
    height: 53px;
    width: 20%;
}

.button-second {
    width: 30%;
    display: contents;
}

button.down {
    margin-left: 40px;
    height: 50px;
    width: 58px;
    margin-right: 10px;
}

button.up {
    margin-left: 10px;
    height: 50px;
    width: 58px;
}

input.form-control.updownvalue {
    text-align: center;
    width: 30%;
    height: 50px;
}

.button-third {
    width: 50%;
}

.third-addcart {
    background-color: burlywood;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 49px;
    height: 51px;
    margin-left: 40px;

}


@media screen and (max-width: 480px) {
    .col-md-7.details {
        text-align: center;
    }

    img.details-image {
        width: 100%;
    }
}
/* product ends  */

/* additional info starts */
.addInfo-title.row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.col-md-5.title-first {
    text-align: right;
    text-decoration: none;
    font-size: 20px;
}

a.col-md-2.title-second {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.col-md-5.title-third {
    text-align: left;
    text-decoration: none;
    font-size: 20px;
}

.additionalInfo-details-desc {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

.additionalInfo-details-review {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

.additionalInfo-details-add {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

.additionalInfo-details-desc-hide {
    display: none;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

.additionalInfo-details-review-hide {
    display: none;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

.additionalInfo-details-add-hide {
    display: none;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}

h2.addInfo-title {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

a.col-md-5.title-first:hover, .col-md-5.title-third:hover, a.col-md-2.title-second:hover  {
    text-decoration: none;
    color: burlywood;
}

.review-date {
    margin-left: 80px;
    font-size: 22px;
    color: darkgray;
    font-style: italic;
    margin-left: 80px;
}

.form-group.col-md-6 {
    padding: 0;
}
.instant-name.row, .instant-review.row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
input.form-control.special-left {
    width: 100%;
}

.input.form-control.special-right {
    width: 100%;
    float: right;
}

h2.review-date {
    text-align: left;
    margin-left: 0;
}

.form-group.submit {
    margin-top: 35px;
}

h2.instant-title {
    margin-top: 30px;
    margin-bottom: 30px
}

@media screen and (max-width: 480px) {
    input.form-control {
        width: 100%;
        float: left;
    }

    input.form-control.special-left {
        width: 100%;
    }

    a.col-md-5.title-first, a.col-md-5.col-md-5.title-third  {
        text-align: center;
    }

    .review.row {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .review-info.col-md-11 {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    p.addInfo-details {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    .review-info.col-md-11 {
        display: block;
        text-align: center;
    }

    .review-info.col-md-11 {
        display: block;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    p.addInfo-details {
        text-align: left;
        padding-top: 15px;
    }

    h2.instant-title {
        margin-bottom: 25px;
    }

    .additionalInfo-details-add {
        text-align: center;
    }

}

/* additional info ends  */

/* related products starts   */
.relatedproduct {
    background-color: antiquewhite;
    margin-bottom: -80px;
}

p.related-subtitle {
    padding-top: 80px;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}

.bakelist {
    padding-top: 0px;
}
/* related products ends  */

/* shopping cart starts  */
.cart {
    margin-left: 40px;
    margin-right: 40px;
}

.cart-title {
    display: inline-flex;
    width: 100%;
    margin: 0;
}

.first-col {
    text-align: left;
    width: 30%;
}

.second-col {
    text-align: left;
    width: 20%;
}

.third-col {
    text-align: left;
    width: 20%;
}

.fourth-col {
    text-align: left;
    width: 20%
}

.fifth-col {
    text-align: left;
    width: 20%;
    margin-left: 30px;
    display: flex;
}
h3.title-name {
    font-family: initial;
    font-size: 25px;
}

h3.title-price {
    font-family: initial;
    font-size: 25px;
}

h3.title-quantity {
    font-family: initial;
    font-size: 25px;
}

h3.title-total {
    font-family: initial;
    font-size: 25px;
}


.form-group {
	width: 100%;
    margin: 30px;
}


.name-display {
    display: flex;
    margin-top: 35px;
}

img.title-name-image {
    margin-right: 25px;
    height: 80px;
    margin-top: -15px;
}

h4.title-name-name {
    margin-top: 12px;
}

p.title-alltotal {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    margin-top: 45px;
}

h4.title-price-price {
    margin-top: 50px;
    color: brown;
    margin-left: 12px;
}

h4.title-size {
    margin-top: 50px;
    color: burlywood;
    margin-left: -8px;
}

.form-group {
    text-align: left;
    margin-left: 0px;
}

svg.total-icon {
    width: 50px;
    height: 40px;
    margin-top: 44px;
}

.input-group.title-qtity {
    text-align: left;
    margin-left: -38px;
    margin-top: 37px;
}

input#myNumber {
    text-align: center;
    height: 50px;
}

.cart-button {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.first-button {
    float: left;
    width: 25%; 
    text-align: left;
}

.second-button {
    float:left;
    width: 25%;
    text-align: left;
}

.third-button {
    float: right;
    width: 50%;
    text-align: right;
}

.button {
    background-color: darkgoldenrod; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button4 {
      border-radius: 12px;
      height: 15px;
    }

    p.button-name {
        margin-top: -11px;
    }

    .cart-sum {
        display: flex;
        width: 100%;
        height: 380px;
    }

    .sum-left, .sum-right {
        width: 50%;
        height: 350px;
    }
  
    .title-code {
        display: flex;
    }

    h4.left-title {
        text-align: left;
        font-size: 15px;
        font-family: sans-serif;
        margin-bottom: 15px;
    }

    input.form-control.coupon {
        width: 40%;
        height: 46px;

    }

    button.button-coupon.button.button4 {
        margin-left: 40px;
    }

    .sum-right {
        background-color: antiquewhite;
    }

    figcaption.right-total {
        text-align: left;
        margin-top: 20px;
        margin-left: 10px;
        font-family: none;
        font-size: 30px;
        font-weight: bold;
    }

    figure.ps-shopping-cart__total {
        text-align: left;
        margin-left: 30px;
    }

    .ps-radio {
        display: inline-block;
        margin-right: 66px;
    }

    .form-control.input-number {
        width: 50%;
    }

    img.title-name-image {
        margin-right: 25px;
        margin-left: 0;
    }


@media screen and (max-width: 480px) {
    .cart-title {
        display: block;
    }

    .first-col, .second-col, .third-col, .fourth-col, .fifth-col {
        text-align: center;
        width: 100%;
    }
    .fourth-col {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    .form-group {
        position: relative;
        text-align: center;
        /* margin-left: 106px; */
    }

    h3.title-price {
        margin-top: 20px;
        margin-bottom: -15px;
    }

    h3.title-quantity {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    h3.title-total {
        margin-top: 30px;
        margin-bottom: -5px;
    }

    .cart-button {
        display: grid;
    }

    .first-button, .second-button, .third-button {
        width: 100%;
        text-align: center;
    } 

    button.button.button4 {
        width: 220px;
    }

    .cart-sum {
        display: grid;
        height: 838px;
    }

    .sum-left, .sum-right {
        width: 100%;
    }

    .sum-left {
        height: 100px;
    }

    .sum-right {
        width: 100%;
        height: 550px;
        padding: 0;
    }

    figure.ps-shopping-cart__total {
        text-align: center;
        margin-left: 0px;
    }

    figcaption.right-total {
        text-align: center;
    }

    button.button.button4 {
        width: 220px;
        height: 65px;
    }

    input.form-control.coupon {
        width: 90%;
        height: 73px;
    }

    .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
        margin-left: -37px;
        margin-top: 40px;

    }

@media screen and (max-width: 480px) {
    .cart-title {
        display: flex;
    }

    .first-col {
        margin-top: 20px;
        margin-right: 100px;
    }

    .second-col {
        margin-right: 60px;
    }

    .third-col {
        margin-right: 50px;
    }

    img.title-name-image {
        margin-right: 0;
        margin-left: 0;
    }

    h4.title-price-price {
        margin-top: 67px;
        color: brown;
        margin-left: -38px;
    }

    h4.title-size {
        margin-top: 68px;
        color: burlywood;
        margin-left: -23px;
    }

    .input-group.title-qtity {
        text-align: left;
        margin-left: 16px;
        margin-top: 58px;
    }

    p.title-alltotal {
        font-size: 20px;
        margin-top: 20px;
        font-weight: bold;
        margin-top: 66px;
        margin-left: 43px;
    }

    svg.total-icon {
        width: 50px;
        height: 40px;
        margin-top: 62px;
        margin-left: 10px;
    }
}

}
/* shopping cart ends  */

/* view cart on navbar start*/
.services {
    padding: 0px;
}
.services.navbar-cart {
    height: 100%;
}

.text {
    margin-bottom: 222px;
}

p.subtotal {
    text-align: left;
    margin-left: 35px;
    font-family: auto;
    /* height: 15%; */
    margin-bottom: 20px;
    font-size: 25px;
}

.button-display.row {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 15%;
}

p.text-display {
    font-size: 20px;
    font-family: monospace;
}

.text-empty {
    height: 85%;
}

p.text-display-empty {
    font-family: cursive;
    padding-top: 100px;
    font-size: 25px;
}

.button-display-empty.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
}



.navcart.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

img.navcart-image-display {
    height: 60px;
}

.col-md-7.navcart-details {
    text-align: left;
}

h3.navcart-details-title {
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
}

h6.navcart-details-qty {
    font-family: initial;
    font-size: large;
}

h5.navcart-details-price {
    color: chocolate;
}

@media screen and (max-width: 480px) {
    .navbar-carticon {
        width: 20%;
        text-align: center;
        display: none;
    }
}
/* view cart on navbar ends  */

/* tablets  */
@media screen and (max-width: 768px) {

}


/* mobiles */
@media screen and (max-width: 480px) {
    .show-nav {
        display: block;
        text-align: center;
        width: 100%;
    }

    p.subtitle {
        color: honeydew;
    }

}






